### Creating lists

In [4]:
#Using Built-in function
empty_list=list()
print(empty_list)
print(len(empty_list))

#Using Square Brackets
empty_list=[]
print(empty_list)
print(len(empty_list))

[]
0
[]
0

In [5]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))

Fruits: ['banana', 'orange', 'mango', 'lemon']
Number of fruits: 4

In [8]:
#list with different data types
lst = ['Riwaj', 20, True, {'country':'Nepal','language':'Nepali'}]
print(lst)
print(len(lst))

['Riwaj', 20, True, {'country': 'Nepal', 'language': 'Nepali'}]
4

### Accessing List items

In [13]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits[0])
print(fruits[-1],fruits[-2])

banana
lemon mango

In [16]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit,second_fruit,*rest=fruits
print(first_fruit,second_fruit)
print(rest)

first_fruit,second_fruit,third_fruit,fourth_fruit,*rest,last_fruit=['banana', 'orange', 'mango', 'lemon','apple','pineapple','grapes','pomegranate','strawberry']
print(first_fruit)
print(second_fruit)
print(third_fruit)
print(fourth_fruit)
print(rest)
print(last_fruit)

banana orange
['mango', 'lemon']
banana
orange
mango
lemon
['apple', 'pineapple', 'grapes', 'pomegranate']
strawberry

In [18]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits[0:])
print(fruits[1:3])
print(fruits[:2])
print(fruits[0:4:2])
print(fruits[::2])

['banana', 'orange', 'mango', 'lemon']
['orange', 'mango']
['banana', 'orange']
['banana', 'mango']
['banana', 'mango']

In [19]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits[-4:])
print(fruits[-3:-1])
print(fruits[::-1])

['banana', 'orange', 'mango', 'lemon']
['orange', 'mango']
['lemon', 'mango', 'orange', 'banana']

### Modifying Lists

In [21]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits[0] = 'avocado'
print(fruits)      
fruits[1] = 'apple'
print(fruits)      
last_index = len(fruits) - 1
fruits[last_index] = 'pineapple'
print(fruits)

['avocado', 'orange', 'mango', 'lemon']
['avocado', 'apple', 'mango', 'lemon']
['avocado', 'apple', 'mango', 'pineapple']

### Checking items in a list

In [23]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print('lemon'in fruits)
does_exist='ana'in fruits
print(does_exist)
does_exist='apple' in fruits
print(does_exist)

True
False
False

### Adding and Inserting items in a list

In [25]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits)
fruits.append('pineapple')
print(fruits)

fruits.insert(2,'apple')
print(fruits)

['banana', 'orange', 'mango', 'lemon']
['banana', 'orange', 'mango', 'lemon', 'pineapple']
['banana', 'orange', 'apple', 'mango', 'lemon', 'pineapple']

### Removing items from a list

In [41]:
fruits=['banana', 'orange', 'apple', 'mango', 'lemon', 'pineapple']
print(fruits)
fruits.remove('apple')
print(fruits)

fruits.pop()
print(fruits)
fruits.pop(2)
print(fruits)
fruits.pop(0)

['banana', 'orange', 'apple', 'mango', 'lemon', 'pineapple']
['banana', 'orange', 'mango', 'lemon', 'pineapple']
['banana', 'orange', 'mango', 'lemon']
['banana', 'orange', 'lemon']

'banana'

In [8]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
del fruits[3]
print(fruits)
del fruits[1:3]
print(fruits)
del fruits
# print(fruits) will give error as the list has been deleted

fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
fruits.clear()
print(fruits)

['banana', 'orange', 'mango', 'kiwi', 'apple']
['banana', 'kiwi', 'apple']
[]

### Deleting an item from the list

In [ ]:
list1=['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
list2=list1
print(list2)
list2.remove('banana')
print(list1)
#here list2 is used as a reference of list1 and hence changes made in list2 also appears in list1 or vice versa so we use copy() instead
list1.insert(0,'banana')
print(list2)

['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
['orange', 'mango', 'lemon', 'kiwi', 'apple']
['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']

In [16]:
list1=['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
list2=list1.copy()
print(list2)
list2.remove('banana')
print(list1)

['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']
['banana', 'orange', 'mango', 'lemon', 'kiwi', 'apple']

### Joining Lists

In [19]:
#using the + sign
positive_numbers=[1,2,3,4,5,6,7,8,9]
negative_numbers=[-1,-2,-3,-4,-5]
zero=[0]
numbers=negative_numbers+zero+positive_numbers
print(numbers)

#Using the extend() method
negative_numbers.extend(zero)
print(negative_numbers)
negative_numbers.extend(positive_numbers)
print(negative_numbers)

[-1, -2, -3, -4, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-1, -2, -3, -4, -5, 0]
[-1, -2, -3, -4, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
numbers=[1,1,2,2,3,3,4,5,6,4,3,1,7]
print(numbers.count(2))
print(numbers.index(2))#gives the index of first occurrence
numbers.reverse()
print(numbers)

2
2
[7, 1, 3, 4, 6, 5, 4, 3, 3, 2, 2, 1, 1]

In [27]:
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 6, 7]
[7, 6, 5, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1]

In [ ]:
numbers=[1,1,2,2,3,3,4,5,6,4,3,1,7]
print(sorted(numbers))#gives sorted order without actually sorting the original
print(numbers)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 6, 7]
[1, 1, 2, 2, 3, 3, 4, 5, 6, 4, 3, 1, 7]