### Variables in Python

In [6]:
first_name='Riwaj'
last_name='Pokhrel'
country='Nepal'
age=20
skills=['HTML','CSS','C','C++','Python']
personal_info={
'first name':'Riwaj',
'last name':'Pokhrel',
'age':20,
'country':'Nepal'
}

### Built in functions

In [33]:
print('Hello World')
print('Hello','World'+'!')
print(len('Hello World'))
Name=input('Enter Your Name') #always takes the input as string
print(Name)
print(type(Name))
Age=int(input('Enter Your age'))
print(Age)
print(type(age))

Hello World
Hello World!
11
Riwaj Pokhrel
<class 'str'>
20
<class 'int'>

In [12]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name:', last_name)
print('Last name length:',len(last_name))
print('Country:', country)
print('Age:', age)
print('Skills:', skills)
print('Person information: ', personal_info)

First name: Riwaj
First name length: 5
Last name: Pokhrel
Last name length: 7
Country: Nepal
Age: 20
Skills: ['HTML', 'CSS', 'C', 'C++', 'Python']
Person information:  {'first name': 'Riwaj', 'last name': 'Pokhrel', 'age': 20, 'country': 'Nepal'}

### Declaring Multiple variables in a line

In [16]:
first_name,last_name,age='Riwaj','Pokhrel',20
print('First Name:',first_name)
print('Last name: '+last_name)
print('Age:',age)
print(len(first_name))

First Name: Riwaj
Last name: Pokhrel
Age: 20
5

Type Casting

In [17]:
#int to float
num_int=10
print('num_int:',num_int)
num_float=float(num_int)
print('num_float:',num_float)

num_int: 10
num_float: 10.0

In [18]:
# float to int
gravity = 9.81
print(int(gravity))

9

In [21]:
# int to str
num_int = 10
print(str(num_int))
print(type(num_int))
str=str(num_int)
print(type(str))

10
<class 'int'>
<class 'str'>

In [24]:
#str to int or float
num_str='109.87'
# num_int=int(num_str)
# print(num_int)            gives error
print(type(num_str))
num_float=float(num_str)
print(num_float)
print(type(num_float))
num_int=int(num_float)
print(num_int)
print(type(num_int))

<class 'str'>
109.87
<class 'float'>
109
<class 'int'>

In [25]:
#str to list
str='Riwaj'
str_to_list=list(str)
print(str_to_list)
print(type(str_to_list))

['R', 'i', 'w', 'a', 'j']
<class 'list'>

In [34]:
print(3^2)

1